{
    "main": "bin/rrlog",
    "chmod": "755",
    "compression": "GZ",
    "compactors": [
        "KevinGH\\Box\\Compactor\\Php",
        "KevinGH\\Box\\Compactor\\PhpScoper"
    ],
    "datetime": "release-date",
    "git-version": "package_version",
    "output": "rrlog.phar"
}
